/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* --- Components design --- */
@import url('css/components/banner.css');
@import url('css/components/card-product.css');
@import url('css/components/container.css');
@import url('css/components/footer.css');

/* Utilities */
body {
  font-family: Unbounded, cursive;
  background-color: rgb(220, 221, 225);
  color: rgb(55, 57, 69);
  line-height: 32px;
  font-size: 100%;
  padding: 25px;
}

h1, h2, h3, h4 {
  color: rgb(88, 95, 125);
  font-family: Unbounded, cursive;
  font-size: 120%;
  min-height: 100%;
  line-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}
.text-center {
  text-align: center;
}


/* Custom design below! */
